<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier l'Offre d'Emploi</title>
</head>
<body>
    <h1>Modifier l'Offre d'Emploi</h1>

    <form method="POST">
        <label for="title">Titre :</label>
        <input type="text" name="title" value="{{ offer[0] }}" required><br><br>

        <label for="company">Entreprise :</label>
        <input type="text" name="company" value="{{ offer[1] }}" required><br><br>

        <label for="location">Localisation :</label>
        <input type="text" name="location" value="{{ offer[2]}}" required><br><br>

        <label for="description">Description :</label>
        <textarea name="description" required>{{ offer[3]}}</textarea><br><br>

        <label for="min_salary">Salaire Min :</label>
        <input type="number" name="min_salary" value="{{ offer[5] }}" required><br><br>

        <label for="max_salary">Salaire Max :</label>
        <input type="number" name="max_salary" value="{{ offer[6] }}" required><br><br>

        <label for="contract_type">Type de contrat :</label>
        <input type="text" name="contract_type" value="{{ offer[7]}}" required><br><br>

        <button type="submit">Mettre à jour l'offre</button>
    </form>

    <a href="{{ url_for('manage_job_offers') }}">Retour à la gestion des offres</a>
</body>
</html>
