<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emploi Wonderland</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter+Brush&family=Heebo:wght@400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#">
        <h1 class="logo">WonderEmploi</h1>
      </a>

      <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>

      <nav class="navbar">

        <ul class="navbar-list">

          <li>
            <a href="#" class="navbar-link">Acceuil</a>
          </li>

          <li>
            <a href="manage_job_offers" class="navbar-link">Manager l'offre</a>
          </li>


          <li>
            <a href="#" class="navbar-link">Contactez Nous</a>
          </li>

        </ul>


      </nav>

    </div>
  </header>

  <main>
    <article>

          <img src="../static/images/shape-2.png" width="56" height="74" alt="Vector Shape" class="shape shape-2">

          

      <section class="section blog">
        <div class="container">

          <p class="section-subtitle">Forger l'avenir de votre succès !</p>

          <h2 class="h2 section-title">Emploi: sculpte ton futur ! </h2>
<ul>

                <li>
  <div class="blog-card">
    <div class="card-content">
      <div class="card-wrapper">
        <div class="author-wrapper">
          <figure class="author-avatar">
            <img src="../static/images/university.png" width="30" height="30" alt="Recommandation emploi">
          </figure>

          <div>
            <a href="#" class="author-name"><b>RECOMMANDATION D'EMPLOI</b></a>
            <p class="author-title">Opportunités Professionnelles</p>
          </div>
        </div>
      </div>

      <h3 class="card-title">
        <p>
          <div style="text-align: justify;">
            Explorez des opportunités professionnelles adaptées à vos compétences et à vos aspirations. Prenez en main votre avenir en consultant nos recommandations d'emplois qui vous ouvriront les portes d'une carrière réussie !
          </div>
        </p>
      </h3>

      <button type="button" class="btn-link" onclick="window.location.href='uploadInit'">
        Recommended Emploi
      </button>

    </div>
  </div>
</li>

               
           
	</ul>


        </div>
      </section>
      

    
    </article>
  </main>

  <footer class="footer" style="background-image: url('../static/images/footer-bg.png')">
    <div class="container">

      <div class="footer-top">

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Important Link</p>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & condition</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy, Policy</a>
          </li>       

        </ul>

         <ul class="footer-list">

          <li>
            <p class="footer-list-title">Index</p>
          </li>

          <li>
            <a href="#" class="footer-link">Créer le CV</a>
          </li>

          <li>
            <a href="https://ent.usms.ac.ma/ent/public/" class="footer-link">Convention de stage</a>
          </li>

          <li>
            <a href="#" class="footer-link">Conactez Nous</a>
          </li>
        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Contact</p>
          </li>

          <li>
            <a href="mailto:z4570126@gmail.com" class="footer-link">z4570126@gmail.com</a>
          </li>

          <li>
            <a href="tel:+212 661-000011" class="footer-link">+212 661-000011</a>
          </li>

          <li>
            Meet the team ©<a href="#" class="footer-link">IID TEAM</a>
          </li>

        </ul>

       

        <div class="footer-list">

          <p class="footer-list-title">Stay up to date!</p>

          <p class="newsletter-text">
				Receive the latest internship offers         
		  </p>

          <form action="" class="newsletter-form">
          	<input type="text" name="niveau" required placeholder="Année d'etude" class="newsletter-input">
            <input type="email" name="email" required placeholder="Email address" class="newsletter-input">

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>

      </div>

      <div class="footer-bottom">

        <a href="#" class="logo">WonderStages</a>

        <p class="copyright">
          &copy; 2023 <a href="#" class="copyright-link">wonderStages</a>. All Rights Reserved
        </p>

        <ul class="social-list">

          <li>
            <a href="https://web.facebook.com/ENSAKIID?_rdc=1&_rdr" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/iid_ensakh" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/ensakh_iid/" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/company/iid-ensak/" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top aria-label="Go To Top">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./static/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
